
body{
    box-sizing: border-box;
    
}

input{
    width: 50%;
    height: 40px;

}


#myInput{
    margin: 0 auto;
    display: block;
    
}
.searchBox{
    margin-top: 5px;
    margin-bottom: 1.5em;
    padding-left: 30%;
    
}


.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    padding-left: 10%;
    padding-right: 10%;
    
}

.gallery img{
    max-width: 100%;
}
