
body{
    margin-left: 25%;
    margin-right: 25%;
}

#myInput{
    margin: 0 auto;
    display: block;
}
.searchBox{
    margin-top: 25%;
    width: 100%;
    margin-bottom: 1.5em;
}


.gallery{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 20px;

    
     

}

.gallery img{
    height:200px;
    width: 200px;
}
